<div class="panel-group" id="accordion">
  <!-- 控制台 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-dashboard"></span>控制台
      </h4>
    </div>
    <div class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>
              <%= nav_link "首頁", dashboard_path, icon: "glyphicon glyphicon-home" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- 文章 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-pushpin"></span>文章
      </h4>
    </div>
    <div class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>
              <%= nav_link "文章列表", posts_path, icon: "glyphicon glyphicon-file" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= nav_link "新增文章", new_post_path, icon: "glyphicon glyphicon-pencil", data: { no_turbolink: true } %>
            </td>
          </tr>
          <tr>
            <td>
              <%= nav_link "分類", categories_path, icon: "glyphicon glyphicon-paperclip", data: { no_turbolink: true } %>
            </td>
          </tr>
          <tr>
            <td>
              <%= nav_link "標籤", tags_path, icon: "glyphicon glyphicon-tags", data: { no_turbolink: true } %>
            </td>
          </tr>
          <tr>
            <td>
              <%= nav_link "迴響", comments_path, icon: "glyphicon glyphicon-comment" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- 其他 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-flag"></span>其他
      </h4>
    </div>
    <div class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>
              <%= nav_link "活動資訊", activities_path, icon: "glyphicon glyphicon-plane" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= nav_link "相關新聞", news_index_path, icon: "glyphicon glyphicon-facetime-video" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- 帳號 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-user"></span>帳號
      </h4>
    </div>
    <div class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>
              <%= nav_link "全部帳號", users_path, icon: "glyphicon glyphicon-bookmark" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= nav_link "新增帳號", new_user_path, icon: "glyphicon glyphicon-plus" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
