<script src='https://www.google.com/recaptcha/api.js?hl=zh-TW'></script>

<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :identify, required: false, autofocus: true, label: :Id %>
    <%= f.input :password, required: false %>
    <%= recaptcha %>
  </div>

  <div class="form-actions">
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">

$("#new_user").submit(function( e ) {
  if ( grecaptcha.getResponse() == "" ) {
    e.preventDefault();
    alert("請輸入驗證碼！");
    return;
  }
});

</script>>
