<!DOCTYPE html>
<html>
  <head>
    <%= content_tag :title, Settings.name %>
    <%#= stylesheet_link_tag 'application', 'backend_application', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', 'backend_application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 70px;">
    <%= render 'layouts/backend/header' %>

    <div class="container">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <%= content_tag(:div, flash[:notice].html_safe,  class: "alert alert-info")    if flash[:notice].present? %>
        <%= content_tag(:div, flash[:success].html_safe, class: "alert alert-success") if flash[:success].present? %>
        <%= content_tag(:div, flash[:warning].html_safe, class: "alert alert-warning") if flash[:warning].present? %>
        <%= content_tag(:div, flash[:error].html_safe,   class: "alert alert-danger")  if flash[:error].present? %>
        <%= yield %>
      </div>
  </body>
</html>
