<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags reverse: true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%#= stylesheet_link_tag 'application', 'frontend_application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag "application", "frontend_application", 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag "frontend/#{controller_name}", media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag "frontend/#{controller_name}", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= gtag.html_safe %>

<div class="container">

  <%= render 'layouts/frontend/header' %>

  <%= content_tag(:div, flash[:notice].html_safe,  class: "alert alert-info")    if flash[:notice].present? %>
  <%= content_tag(:div, flash[:success].html_safe, class: "alert alert-success") if flash[:success].present? %>
  <%= content_tag(:div, flash[:warning].html_safe, class: "alert alert-warning") if flash[:warning].present? %>
  <%= content_tag(:div, flash[:error].html_safe,   class: "alert alert-danger")  if flash[:error].present? %>

  <%= yield %>

  <%= render 'layouts/frontend/footer' %>

</div>

</body>
</html>
